* { padding: 0; margin: 0; transition: background .2s; color: #333; }
body { background: #F0F3F5; }
input[type='button'], button, input[type='submit'] { background: #36B6BB; border: none; color: #fff; font-size: 16px; padding: 8px 16px; border-radius: 2px; outline: none; }
    input[type='button']:hover, button:hover, input[type='submit']:hover { background: #5AC1C5; }
    input[type='button']:active, button:active, input[type='submit']:active { background: #53B2B6; }
input[type='text'], input[type='password'], select { border: 1px solid #ddd; background: #F0F3F5; padding: 6px 8px; outline: none; border-radius: 4px; }
    input[type='text']:focus,
    input[type='password']:focus { background: #fff; border-color: #36B6BB }
textarea { width: 450px; height: 160px; }
select { width: 220px; }
input[type='text'],
input[type='password'] { width: 100px; }
input[type='checkbox'] { display: none; }
    input[type='checkbox'] + label { background: #fff; padding: 4px 8px; margin-right: 8px; border: 1px solid #ddd; border-radius: 4px; white-space: nowrap; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
    input[type='checkbox']:checked + label { background: #36B6BB; color: #fff; border-color: #F0F3F5; border-radius: 4px; }
    input[type='checkbox']:disabled + label { background: #F0EFEF; color: #999 }
ul { font-size: 20px;list-style: none;overflow:hidden; }
a { text-decoration: none; }

table { border-collapse: collapse; margin: 20px auto; width: 91%; }
th { background: #4EC6A7; padding: 5px; font-size: 14px;   border: 2px solid #ccc; border-bottom: 1px;white-space: nowrap; }
tr { border: 2px solid #ccc; line-height: 26px; }
td { white-space: nowrap;font-size: 14px; padding: 2px 8px; }

/*table tr:nth-child(odd) td { background: #CBEDDE; }
table tr:nth-child(even) td { background: #E3F5ED; }*/

dd > table > tbody > tr > td { background: #FFF; }
.right_content .trh table { margin: 0px; margin-left: 10px; width: auto; border: none; border-collapse: collapse; text-align: center; }
    .right_content .trh table td, .right_content .trh table tr { border: none; }
        .right_content .trh table td a { display: block; width: 22px; font-weight: bold; font-size: 15px; }
        .right_content .trh table td span { color: red; font-weight: bold; font-size: 16px; }
    .right_content .trh table tr { background: none; }
